#anchorSignUp {
    -fx-background-image: url("background.jpg");
    -fx-background-size: 1000 800;
}

#backToLogin {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-effect: none;
}

.text-field {
    -fx-background-color: transparent;
    -fx-background-radius: 30;
    -fx-border-color:linear-gradient(to right, black, rgba(0, 0, 0, 0), rgb(7, 7, 7));
    -fx-text-fill: #000000, bold;
    -fx-prompt-text-fill: #323030;
    -fx-font-family: 'Palatino Linotype', cursive;
}

.button {
    -fx-border-color:linear-gradient(to right, black, rgba(0, 0, 0, 0), rgb(7,7,7));
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, grey, 10, 0.5, 2, 1);
    -fx-font-family: 'Palatino Linotype', cursive;
}

.button:hover {
    -fx-background-color: #c2cecf;
}

.label {
    -fx-text-fill: black;
    -fx-font-family: 'Palatino Linotype', cursive;
}

.check-box .box {
    -fx-background-color: white;
    -fx-border-color: linear-gradient(to right, black, rgba(0, 0, 0, 0), rgb(38 ,38 ,38));
    -fx-text-fill: black;
    -fx-font-family: 'Palatino Linotype', cursive;
}

.check-box:selected .mark {
    -fx-background-color: black;
}

#message {
    -fx-text-fill: red;
    -fx-font-family: 'Palatino Linotype', cursive;
    -fx-font-weight: bold;
}

#messageUsername {
    -fx-text-fill: red;
    -fx-font-family: 'Palatino Linotype', cursive;
    -fx-font-weight: bold;
}